i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.svg-class {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}

.aside-svg {
    font-size: 20px;
    margin-bottom: -4px;
    margin-right: 5px;
}

.Main-svg {
    font-size: 30px;
    margin-bottom: -10px;
}