<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zstu.examsys.mapper.ExamMapper">
    <select id="getExams" resultType="Exam">
        SELECT
        *
        ,(SELECT COUNT(*) FROM `question` WHERE `question`.`bank_id` = `exam`.`bank_id`) AS `questions_count`
        FROM
        `exam`
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
        </where>
        ;
    </select>

    <select id="getExamsCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        `exam`
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
        </where>
        ;
    </select>

    <select id="getExamPapers" resultType="ExamPaper">
        SELECT
        *
        FROM
        `exam_paper`
        <where>
            <if test="examinee != null">
                AND `examinee` = #{examinee}
            </if>
            <if test="examId != null">
                AND `exam_id` = #{examId}
            </if>
        </where>
        ;
    </select>

    <select id="getExamPapersCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        `exam_paper`
        <where>
            <if test="examinee != null">
                AND `examinee` = #{examinee}
            </if>
            <if test="examId != null">
                AND `exam_id` = #{examId}
            </if>
        </where>
        ;
    </select>

    <insert id="addExamAnswer" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `exam_answer` (`exam_id`,
                                   `examinee`,
                                   `question_id`)
        VALUES (#{examId},
                #{examinee},
                #{questionId});
    </insert>

    <insert id="addNormalAnswer" keyProperty="normalId" useGeneratedKeys="true">
        INSERT INTO `normal_answer` (`answer_id`, `answer`)
        VALUES (#{id}, #{answer});
    </insert>

    <select id="getExamAnswer" resultType="ExamAnswer">
        SELECT *
        FROM `exam_answer`
        WHERE `examinee` = #{examinee}
          AND `exam_id` = #{examId}
          AND `question_id` = #{questionId};
    </select>

    <update id="updateExamAnswer">
        UPDATE
            `exam_answer`
        SET `score`     = #{score},
            `corrector` = #{corrector}
        WHERE `id` = #{id};
    </update>

    <update id="updateNormalAnswer">
        UPDATE
            `normal_answer`
        SET `answer` = #{answer}
        WHERE `answer_id` = #{id};
    </update>

    <select id="getNormalAnswers" resultType="NormalAnswer">
        SELECT `exam_answer`.*,
               `normal_answer`.`id` AS `normal_id`,
               `answer`
        FROM  `normal_answer`
                 INNER JOIN `exam_answer` ON `exam_answer`.`id` = `answer_id`
        WHERE `examinee` = #{examinee}
          AND `exam_id` = #{examId};
    </select>

    <select id="getQuestionScores" resultType="QuestionScore">
        SELECT
            *
        FROM
            `question_score`
        WHERE `exam_id` = #{examId};
    </select>
</mapper>